* {
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid greenyellow; */
}

body {
    background-color: #c44545;
}

.main-container {
    /* border: 10px solid black; */
    display: grid;
    place-items: center;
}

.directions {
    /* border: 2px solid blue; */
    margin: 0 25%;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}

h1,
h2,
h3,
img,
.recipe-title,
.description {
    padding: 15px;
}
.description {
    font-style: italic;
    font-size: 3ch;
}

img {
    border-radius: 50px;
}

strong, li, p {
    color: white;
}

strong, li {
    padding-top: 2px;
    padding-bottom: 2px;
}

ul li,
ol li {
    font-size: 3ch;
}